body{
    background-color: azure;
}
.headCenter{
    resize: horizontal;
    text-align: center;
}
.bodyText{
    resize: both;
    font-family: 'Times New Roman', Times, serif;
}
.footerStyle{
    resize: horizontal;
    font-family: Arial, Helvetica, sans-serif;
}
.captionStyle{
    border-width: 3px;
    border-style: double;
    border-color: black;
}
/*special styles to highlight the most important caption*/
.specialCaption{
    border-width: 3px;
    border-style: double;
    border-color: black;
    font-weight: bold;
}